header {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  text-align: center;
  color: #ffd034;
  text-shadow: 4px 4px 0 #fcf0c6;
}

body {
  background-image: url('https://wallpapers-clan.com/wp-content/uploads/2022/09/disney-castle-blue-wallpaper-2-scaled.jpg');
  image-rendering: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bolder;
  color: #ffd034;
}

h2 {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  color: #ffd034;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.selectores {
  font-family: "Montserrat Alternates", sans-serif;

}

button {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  font-size: 100%;
  width: 10%;
  display: block;
  margin: auto;
  padding: 10px;
  background-color: #fcf0c6;
  border: #ffd034;
  border-width: 3px;
  border-style: solid;
  cursor: pointer;
  border-radius: 20px;
  flex-direction: row-reverse;

}

.ulPelis {

  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 16px;
}

.contenedorContenido {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.contenedorImagen {
  display: flex;
  justify-content: center;
  margin-left: 16px;
}

.contenedorTextos {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.imagenPeli {
  width: 10rem;
  height: auto;
}

.tarjeta {
  font-family: "Comic Neue", cursiva;
  font-weight: bolder;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  gap: 16px;
  width: calc(50% - 32px);
  text-align: justify;
  margin: 1px;
  padding: 1px 1px;
  text-align: justify, left;
  color: black;
  }

  footer {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2%;
    text-align: center;
  }
